{% extends "home.html" %}
{% load static %}

{% block title %}Rejestracja{% endblock %}
{% block static %} 
{% endblock %}
{% block nav %}
    <li><a href="">Kolegium</a></li>
    <li><a href="">Dodaj Sędziego</a></li>
    <li><a href="">Mecze</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    
{% endblock %}

{% block content %}
    <div id="signup-form">
        <form method="post">
            {% csrf_token %}
            <p>Podaj kod OTP wygenerowany w Twojej aplikacji uwierzytelniającej.</p>
            {{ form.as_p }}
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type="submit">Zweryfikuj kod</button>
        </form>
    </div>
{% endblock %}