{% extends "home.html" %}
{% load static %}

{% block title %}Skład Gospodarzy{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'spr.css' %}">
{% endblock %}
{% block nav %}
    <li><a href="{% url 'committee_dashboard' %}">Kolegium</a></li>
    <li><a href="{% url 'kolmecze' %}">Mecze</a></li>
    <li><a href="/logout">logout</a></li>
    
{% endblock %}
{% block content %}
<div class="klipy">
    <h2>Skład {{ mecz.Gosp }}</h2>
        <table>
            {% for zawodnik in zawodnicy %}
            <tr>
                <th>{{ zawodnik }}</th>
                <th>{{ zawodnik.nr }}</th>
            </tr>
            {% endfor %}
    </table>
    <a href="{% url 'sprawozdaniek' mecz.id%}"><button>Wróć</button></a>
</div>
{% endblock %}