{% extends "home.html" %}
{% load static %}

{% block title %}Szczegóły{% endblock %}
{% block static %}
<link rel="stylesheet" href="{% static 'spr.css' %}">
{% endblock %}
{% block nav %}
    <li><a href="{% url 'committee_dashboard' %}">Kolegium</a></li>
    <li><a href="{% url 'kolmecze' %}">Mecze</a></li>
    <li><a href="/logout">logout</a></li>

{% endblock %}
{% block content %}
<div class="klipy">
    <h1>Szczegóły Meczu</h1>

        <p>Gospodarz: {{ mecz.Gosp.name }}</p>
        <p>Gość: {{ mecz.Gosc.name }}</p>
        <p>Wynik: {{ mecz.wynik }}</p>
        <p>Status sprawozdania: {{ mecz.status }}</p>
        <a href="{% url 'sprawozdaniek' mecz.id%}"><button>Sprawozdanie</button></a>
        <a href="{% url 'kolmecze' %}"><button>Mecze</button></a>
</div>
{% endblock %}