{% extends "home.html" %}
{% load static %}

{% block title %}Dodaj wydarzenie{% endblock %}
{% block static %} 
<link rel="stylesheet" href="{% static 'spr.css' %}">
{% endblock %}
{% block nav %}
    <li><a href="{% url 'judge_dashboard' %}">Sędzia</a></li>
    <li><a href="{% url 'listameczy' %}">Mecze</a></li>
    <li><a href="/logout">logout</a></li>
    
{% endblock %}
{% block content %}
<div class="klipy">
       <h1>Dodaj Wydarzenie</h1>

        <form method="post" action="{% url 'addevent' mecz.id %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Dodaj Wydarzenie</button>
        </form>
</div>
{% endblock %}